<!DOCTYPE html>
<html lang="en" style="zoom: 85%">

<head>
  <title>WeGo Plugin Selection Page</title>
  <link rel="icon" type="image/x-icon" href="../static/WeGoDemandLogo.png">
  <link href="../static/services_style.css" rel="stylesheet" type="text/css"/>
</head>

<body>
  <br/><br/>
    <div class="container">
    <h1 style="font-size: 75px; color:#ffffff; font-weight: bold;">WeGo Plugin Services</h1>
    </div>
    <br/><br/>

  <!-- Wrap the existing div containers with a new container that has flex properties -->
  <div class="pluginContainer">
    <div class="row">
      <div class="pluginIcons">
        <a href="/order"><img class="button" src="../static/vaccinePlugin.png" style="border: 12px solid #284b63;" alt="Vaccine Delivery" /></a>
      </div>
      <div class="pluginIcons">
        <a href=""><img class="button" src="../static/unknownPlugin.png" style="border: 12px solid #284b63;" alt="Unknown Plugin 1" /></a>
      </div>
      <div class="pluginIcons">
        <a href=""><img class="button" src="../static/unknownPlugin.png" style="border: 12px solid #284b63;" alt="Unknown Plugin 2" /></a>
      </div>
    </div>
    <div class="row">
      <div class="pluginIcons">
        <a href=""><img class="button" src="../static/unknownPlugin.png" style="border: 12px solid #284b63;" alt="Unknown Plugin 3" /></a>
      </div>
      <div class="pluginIcons">
        <a href=""><img class="button" src="../static/unknownPlugin.png" style="border: 12px solid #284b63;" alt="Unknown Plugin 4" /></a>
      </div>
      <div class="pluginIcons">
        <a href=""><img class="button" src="../static/unknownPlugin.png" style="border: 12px solid #284b63;" alt="Unknown Plugin 5" /></a>
      </div>
    </div>
  </div>

  <button class="signout" role=button onclick="window.location.href='/logout'">Log Out</button>
</body>

</html>